.app_wrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.todoLists {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.error-message {
    color: red;
}

.error {
    border: 1px solid red;
}

.active-filter {
    background-color: aqua;
}

.todolist_wrapper {
    width: max-content;
    height: max-content;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}