.listItem {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.active_filter {
    background-color: aqua;
}

.error_message {
    color: red;
}

.error_input {
    border: 1px solid red;
}

.isDone {
    opacity: 0.5;
}